* {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.header {
    display: flex;
    justify-content: center;
    background-color: #02071d;
    padding: 40px;
}

.title {
    font-family: 'Gruppo';
    font-size: 36px;
    color: white;
}

.score-message {
    padding: 30px 0;
    display:flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.buttons {
    background-color: rgb(11, 11, 46);
    width: 200px;
    height: 200px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 100px;
    height: 200px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 24px;
}